img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.detail{
  height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 3.5em;
}

.description {
  border: 1px solid black;
  background-color: chocolate;
  border-radius: 10px;
  padding: 20px;
  width: 600px;
  margin: auto;
}

.description h3 {
  font-size: 1.5em;
  margin-top: 5px;
}

.description div {
  font-size: 1.2em;
}

.btns {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btns button {
  padding: 10px;
  font-size: 1.2em;
  border-radius: 10px;
  background-color: chocolate;
  border: 1px solid black;
  cursor: pointer;
  transition: ease-in-out 0.5s;
}

.btns button:hover {
  background-color: rgb(71, 38, 0);
  color: rgb(244, 136, 59);
  transition: ease-in-out 0.5s;
}